.coin-menu {
  position: absolute;
  z-index: 5;
  background-color: white;
  height: 100%;
  width: 0px;
  transition: all 0.5s ease-in;
  overflow-x: hidden;
}

.coin-menu.active {
  width: 88.2%;
}

.exchange-box {
  display: inline-block;
  width: 33.33%;
  text-align: center;
  margin: 0 50px;
}

.js-coin-menu-showcase {
  width: 800px;
  margin: 20px auto;
}

.coin-item {
  width: 200px;
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 15px;
  border: 1px solid #f0f0f0;
}

.coin-item:hover {
  box-shadow: 0px 0px 5px gray;
  border: 1px solid aqua;
  cursor: pointer;
}

.coin-item h4 {
  color: #6d6d6d
}

.coin-item p {
  color: #d1d1d1;
}

.js-exchange {
  width: 100%;
}

.flex {
  display: flex;
}

.full-height {
  height: 100%;
}

.js-coin-menu-close {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../images/icons/close_io.png') no-repeat center;
  background-size: 25px;
  margin: 10px 20px;
}

.menu-header {
  width: 100%;
  display: inline-flex;
  border: 1px solid #f1f1f1;
  padding: 10px 0;
}

.js-menu-search {
  border: none;
  font-size: 30px;
  letter-spacing: 2px;
  color: #6d6d6d;
}

.js-menu-search:focus {
  outline: none;
}

.js-exchange-info {
  width: 70%;
  margin: 20px auto;
  background-color: white;
  border: 1px solid #c4c4c4;
  display: flex;
  text-align: center;
  padding: 25px;
  box-shadow: 0px 0px 1px #c4c4c4;
}

.js-exchange-info .info-box {
  width: 33.33%;
}

.js-exchange-info .info-box h4 {
  margin: 5px 0;
}

.js-exchange-info .info-box p {
  margin: 5px 0;
}

.border-right-thin {
  border-right: 1px solid #f0f0f0;
}

.exchange-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 10px 0;
}