.js-homeView-box  {
  background-color: #eee;
  /* flex: 10; */
  height: 100%;
  transition: opacity 1s ease-in;
  display: flex;
  /* flex-direction: row; */
}

.js-homeView-box--fadeIn {
  opacity: 1;
}

.js-homeView-mainContent{
  display: flex;
  flex-grow: 10;
  /* margin: 20px; */
}
.js-homeView-wallet {
  flex: 1;
  position: relative;
}
.js-homeView-navigation {
  /*display: flex;*/
  /*flex-grow: 1;*/
   width: 230px;
  /* min-width: 160px; */
  /*flex-direction: column;*/
  text-align: center;
  /* width: 150px; */
  font-weight: 300;
  /* height: 100%; */
  background-color: #eee;
  /* border-left: aqua 5px solid; */
  /* color: aqua; */
  z-index: 2;
  box-shadow: 0px 0px 40px black;
}

.js-homeView-navigation-item {
  text-decoration: none;
  position: relative;
  /* z-index: 3; */
  font-size: 1.3rem;
  text-align: left;
  display: block;
  padding: 1rem 0 1rem 2rem;
  background-color: #eee;
  color: black;
  transition: border-bottom 0.5s ease;
}


.js-homeView-navigation-item:hover {
  border-bottom: aqua 1px solid;
}


.js-homeView-navigation-item-subitem {
  position: absolute;
  z-index: 0; 
}

.js-homeView-profile {
  padding: 2rem 0;
  border-bottom: 5px solid #ffffff;
}

.js-homeView-profile-image img {
  width: 140px;
  /* height: 75px; */
  border-radius: 50%;
  /*border: 2px solid #d1d1d1;*/
}

.js-homeView-profile-name {
  margin: 1rem auto 0;
  font-size: 1.5rem;
  color: black;
}