.js-homeView-box  {
  background-color: #eee;
  /* flex: 10; */
  height: 100%;
  transition: opacity 1s ease-in;
  display: flex;
  /* flex-direction: row; */
}

.js-homeView-box--fadeIn {
  opacity: 1;
}

.js-homeView-mainContent{
  display: flex;
  flex-grow: 10;
  /* margin: 20px; */
  background: #f0f0f0;
  position: relative;
}
.mainContent-topNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 75px;
    background: white;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mainContent-topNav div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mainContent-topNav .search {
    height: 75px;
    width: 75px;
    background: #4d4d4d;
    border-radius: 0 0 100%;
    position: relative;
    display: inline;
}
.mainContent-topNav .search .svg{
    width: 25px;
    fill: white;
    position: absolute;
    top: 16px;
    left: 15px;
}

.mainContent-topNav .topNav-menu {
    list-style: none;
    display: inline-block;
    margin-left: 2rem;
    height: 75px;
}
.mainContent-topNav .topNav-menu li {
    display: inline-flex;
    font-size: 1.2rem;
    margin-right: 12px;
    height: 100%;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.mainContent-topNav .topNav-menu li:after{
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    background: #53f9f4;
    top: 0;
    left: 0;
    width: 0;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}
.mainContent-topNav .topNav-menu li:hover:after {
    width: 100%;
}
.mainContent-topNav .mainContent-topNav-right > div {
    padding: 0 2rem;
}
.mainContent-topNav .mainContent-topNav-right > div:first-child {
    border-right: 1px solid lightgrey;
}
.mainContent-topNav .mainContent-topNav-right .mainContent-topNav-notification .svg{
    width: 35px;
    margin: 0 10px;
}

.mainContent-topNav .mainContent-topNav-right .profile {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.mainContent-topNav .mainContent-topNav-right .profile img{
    width: 45px;
}
.mainContent-topNav .mainContent-topNav-right .alert{
    position: relative;
}
.mainContent-topNav .mainContent-topNav-right .alert .svg{
    width: 40px;
}
.mainContent-topNav .mainContent-topNav-right .alert.note{
    fill: red;
    color: red;
}
.mainContent-topNav .mainContent-topNav-right .alert .notification{
    position: absolute;
    left: 26px;
    font-size: 11px;
    font-weight: bold;
}
.js-homeView-wallet {
  flex: 1;
  position: relative;
}
.js-homeView-navigation {
  /*display: flex;*/
  /*flex-grow: 1;*/
   width: 230px;
  /* min-width: 160px; */
  /*flex-direction: column;*/
  text-align: center;
  /* width: 150px; */
  font-weight: 300;
  /* height: 100%; */
  background-color: white;
  /* border-left: aqua 5px solid; */
  /* color: aqua; */
  z-index: 2;
  box-shadow:0 0 100px -20px black;
}
.js-homeView-navigation .logo{
    padding:2rem 0 5rem;
    text-align: center;
}
.js-homeView-navigation .logo img{
    display: inline-block;
    width: 160px;
}
.js-homeView-navigation .logo span {
    display: inline-block;
    font-size: 12px;
    color: grey;
}
.js-homeView-navigation-item {
    border-left: 4px solid #53f9f4;
    text-decoration: none;
    position: relative;
    /* z-index: 3; */
    font-size: 1.3rem;
    text-align: left;
    display: block;
    padding: 0rem 0 0rem 1.5rem;
    margin-top: 2rem;
    /* background-color: #eee; */
    color: black;
    transition: 0.2s;
}
.js-homeView-navigation-item .svg {
    width: 35px;
}
.js-homeView-navigation-item span {
    vertical-align: super;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.js-homeView-navigation-item:hover > span{
  margin-left: 10px;
}


.js-homeView-navigation-item-subitem {
  position: absolute;
  z-index: 0; 
}

.js-homeView-profile {
  padding: 2rem 0;
  border-bottom: 5px solid #ffffff;
}

.js-homeView-profile-image img {
  width: 140px;
  /* height: 75px; */
  border-radius: 50%;
  /*border: 2px solid #d1d1d1;*/
}

.js-homeView-profile-name {
    font-size: 1.5rem;
    color: black;
    display: inline;
}
.homeView-start-content{
    padding: 100px;
    overflow-x: auto;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}
.homeView-start-content.open{
  opacity: 1;
}