.js-homeView-box  {
  background-color: #eee;
  /* flex: 10; */
  height: 100%;
  transition: opacity 1s ease-in;
  display: flex;
  /* flex-direction: row; */
}

.js-homeView-box--fadeIn {
  opacity: 1;
}

.js-homeView-mainContent{
  display: flex;
  flex-grow: 10;
  /* margin: 20px; */
  background: #f0f0f0;
  position: relative;
}
.mainContent-topNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 50px;
    background: white;
    box-shadow: 0 0 10px black;
}
.js-homeView-wallet {
  flex: 1;
  position: relative;
}
.js-homeView-navigation {
  /*display: flex;*/
  /*flex-grow: 1;*/
   width: 230px;
  /* min-width: 160px; */
  /*flex-direction: column;*/
  text-align: center;
  /* width: 150px; */
  font-weight: 300;
  /* height: 100%; */
  background-color: white;
  /* border-left: aqua 5px solid; */
  /* color: aqua; */
  z-index: 2;
  box-shadow:0 0 100px -20px black;
}
.js-homeView-navigation .logo{
    padding:2rem 0 5rem;
    text-align: center;
}
.js-homeView-navigation .logo img{
    display: inline-block;
}
.js-homeView-navigation .logo span {
    display: inline-block;
}
.js-homeView-navigation-item {
  text-decoration: none;
  position: relative;
  /* z-index: 3; */
  font-size: 1.3rem;
  text-align: left;
  display: block;
  padding: 1rem 0 1rem 2rem;
  /*background-color: #eee;*/
  color: black;
  transition: 0.2s;
}
.js-homeView-navigation-item span {
    vertical-align: super;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.js-homeView-navigation-item:hover > span{
  margin-left: 10px;
}


.js-homeView-navigation-item-subitem {
  position: absolute;
  z-index: 0; 
}

.js-homeView-profile {
  padding: 2rem 0;
  border-bottom: 5px solid #ffffff;
}

.js-homeView-profile-image img {
  width: 140px;
  /* height: 75px; */
  border-radius: 50%;
  /*border: 2px solid #d1d1d1;*/
}

.js-homeView-profile-name {
  margin: 1rem auto 0;
  font-size: 1.5rem;
  color: black;
}
.homeView-start-content{
  opacity: 0;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
.homeView-start-content.open{
  opacity: 1;
}