@import 'fonts.css';
@import 'login.css';
@import 'home.css';
@import 'settings.css';
@import 'social-media.css';
@import 'wallet.css';
@import 'exchange.css';
@import 'coin-menu.css';
@import 'color.css';
@import 'coin-list.css';

/**
COLORS: border #c4c4c4
        aqua #00F0E8

*/

* {
    padding: 0;
    margin: 0;
}

body,html {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 650px;
}

body {
    font-family: 'Roboto Mono', monospace;
    color: black;
    display: flex;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.display-inline {
    display: inline-block;
}

.font-medium {
    font-size: 12px;
}