@import 'fonts.css';
@import 'login.css';

body,html {
    height: 90%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.hidden {
    display: none;
}

.display-inline {
    display: inline-block;
}