.footer_social_media {
  /*margin: 40px 0px;*/
}
.footer_social_media a {
  display: inline-block;
  filter: grayscale(100%);
  background-size: contain;
  width: 25px;
  height: 25px;
  content: "";
  margin: 0 5px;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
.footer_social_media a:hover {
  filter: none;
  cursor: pointer;
}
.footer_social_media .face_book {
  background: url('../images/social/Facebook-color.svg') no-repeat center / contain;
}
.footer_social_media .twitter {
  background: url('../images/social/Twitter-color.svg') no-repeat center / contain;
}
.footer_social_media .telegram {
  background: url('../images/social/telegram.png') no-repeat center / contain;
}
.footer_social_media .linkedin {
  background: url('../images/social/LinkedIn-color.svg') no-repeat center / contain;
}