.btc-select {
  background-color: #FF8E00;  
}

.dgb-select {
  background-color: #091E54;
}

.ltc-select {
  background-color: #4d4d4d;
}

.eth-select {
  background-color: #3C3C3D;
}

.js-homeView-wallet-nav {
  display: flex;
  height: 100%;
  /* width: 100%; */
  flex-direction: row;
  flex-wrap: wrap;
}

.js-homeView-wallet-nav-item {
  display: inline-flex;
  width: 50%;
  /* height: 75px; */
  /* margin: 20px; */
  color: white;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js-homeView-wallet-symbol {
  font-weight: 600;
  font-size: 3.5rem;
  /*width: 75px;*/
  /*display: flex;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*border-radius: 100px;*/
  /*background-color: #eee;*/
  /*transition: all, 0.5s ease;*/
}

.js-homeView-wallet-nav-item[request="btc"]  {
  background: #FF8E00;
  box-shadow:inset 0px 0px 300px -60px black;
}

/*.js-homeView-wallet-symbol[request="btc"]:hover {*/
  /*background-color: #FF8E00;*/
  /*color: white;*/
  /*font-weight: 700;*/
  /*text-shadow: 1px 1px 2px black;*/
  /*box-shadow: inset 1px 2px 2px #cc7000;*/
/*}*/

.js-homeView-wallet-nav-item[request="dgb"] {
  background: #091E54;
  box-shadow:inset 0px 0px 300px -60px black;
}

/*.js-homeView-wallet-symbol[request="dgb"]:hover {*/
  /*background-color: #091E54;*/
  /*color: white;*/
  /*font-weight: 700;*/
  /*text-shadow: 1px 1px 2px black;*/
  /*box-shadow: inset 1px 2px 2px #05112e;*/
/*}*/

.js-homeView-wallet-nav-item[request="ltc"] {
  background:#4d4d4d;
  box-shadow:inset 0px 0px 300px -60px black;
}

/*.js-homeView-wallet-symbol[request="ltc"]:hover {*/
  /*background-color: #4d4d4d;*/
  /*color: white;*/
  /*font-weight: 700;*/
  /*text-shadow: 1px 1px 2px black;*/
  /*box-shadow: inset 1px 2px 2px #333333;*/
/*}*/

.js-homeView-wallet-nav-item[request="eth"] {
  background: #C99D66;
  box-shadow:inset 0px 0px 300px -60px black;
}

/*.js-homeView-wallet-symbol[request="eth"]:hover {*/
  /*background-color: #C99D66;*/
  /*color: white;*/
  /*font-weight: 700;*/
  /*text-shadow: 1px 1px 2px black;*/
  /*box-shadow: inset 1px 2px 2px #3C3C3D;*/
/*}*/

/*.js-homeView-wallet-symbol:hover {*/
  /*cursor: pointer;*/
/*}*/

.js-homeView-wallet-status {
  text-align: center;
}

.js-homeView-wallet-status ul li {
  list-style-type: none;
}

.js-homeView-wallet-fiat {
  /*color: black;*/
  font-weight: 700;
  font-size: 18px;
}

.js-homeView-wallet-satoshis {
  /*color: #b1b1b1;*/
  font-size: 14px;
}

.js-homeView-wallet-content {
  display: flex;
  flex-direction: row;
}

.js-homeView-wallet-logo[display="dgb"] {
  background: #091E54 url('../images/coins/digibyte.svg') no-repeat left top;
  width: 100px;
  height: 100px;
  background-size: 100px;
}

.js-homeView-wallet-content[display="btc"] {
  background-color: #FF8E00;  
}

.js-homeView-wallet-content[display="btc"] * {
  color: whitesmoke;
}

.js-homeView-wallet-content[display="dgb"] {
  height: 500px;
  background-color: #091E54;
}

.js-homeView-wallet-content[display="dgb"] * {
  color: whitesmoke;
}

.js-homeView-wallet-content[display="ltc"] {
  background-color: #4d4d4d;  
}

.js-homeView-wallet-content[display="ltc"] * {
  color: #b1b1b1;
}

.js-homeView-wallet-content[display="eth"] {
  background-color: #3C3C3D;  
}

.js-homeView-wallet-content[display="eth"] * {
  color: #ECF0F1;
}

.js-homeView-wallet-content h1 {
  display: block;
  text-align: center;
}

.js-homeView-wallet-balance {
  text-align: center;
}


/* @Bitcoin */
.js-homeView-wallet-info {
  flex-grow: 50;
  height: 100px;
}

.js-homeView-wallet-send {
  flex-grow: 50;
  height: 100px;
}

.js-homeView-wallet-send-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.js-homeView-wallet-send-to {
  text-align: center
}

.js-homeView-wallet-send-to h3 {
  font-size: 32px;
  margin: 10px 0;
}

.js-homeView-wallet-send-form input {
  width: 300px;
  margin: 10px auto;
  display: inline-block;
  border: 2px solid whitesmoke;
  border-radius: 25px;
  padding: 15px 5px 15px 10px;
}