<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
		<div class="login_header">
			<h1>Wallet<span>+</span></h1>
		</div>
		
		<div class="login_section">
			<div class="login_form">
				<form action="">
					<div class="form_input">
						<label for="login_mail">Username: </label>
						<input type="text">
					</div>
					<div class="form_input">
						<label for="login_password">Password: </label>
						<input type="password">
					</div>
					<div class="form_button">
						<button>Login</button>
					</div>
				</form>
			</div>
			<div class="register_form">
					<form action="">
							<div class="form_input">
								<label for="login_mail">Mail: </label>
								<input type="text">
							</div>
							<div class="form_input">
								<label for="login_password">Password: </label>
								<input type="password">
							</div>
							<div class="form_input">
									<label for="login_password">Password Repeat: </label>
									<input type="password">
								</div>
							<div class="form_button">
								<button>Register</button>
							</div>
						</form>
			</div>
		</div>
</body>
</html>