<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>window.$ = window.jQuery = require('jquery');</script>

	<!-- <script>
		window.nodeRequire = require;
		delete window.require;
		delete window.exports;
		delete window.module;
	</script> -->
		<script src="../javascript/lib/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>		
		<div class="js-loginView-form form_section">
			<div class="js-loginView-login" id="js_loginView_login">
				<form>
					<div class="form_input">
						<input type="text" id="username" class="js-loginView-login-username" placeholder="Username">
					</div>
					<div class="form_input">
						<input type="password" id="password" class="js-loginView-login-password" placeholder="Password">
					</div>
					<div class="form_button js-loginView-login-submit">
						<button id="login">Login</button>
					</div>
				</form>
				<div class="login_footer">
					<p>Don't have an account: <a href="#" class="js-loginView-form-register js-loginView-new-account	" id="js-loginView-form-register"> Create one </a></p>
				</div>
			</div>
			<div class="js-loginView-register js-loginView-register--hide" id="js_loginView_register">
					<form>
						<div class="form_input">
							<input type="text" id="email" class="js-loginView-register-mail" placeholder="Email">
						</div>
						<div class="form_input">
							<input type="password" id="reg_password" class="js-loginView-register-password" placeholder="Password">
						</div>
						<div class="form_input">
							<input type="password" id="password_rep" class="js-loginView-register-repassword" placeholder="Repeat Password">
						</div>
						<div class="form_button js-loginView-register-submit">
							<button id="register">Register</button>
						</div>
					</form>
					<div class="login_footer">
						<p>Have an account: <a href="#" class="js-loginView-go-to-login" id="js-loginView-form-register"> Login </a></p>
					</div>
			</div>
		</div>

		<div class="js-homeView-box hidden">
			<div class="js-homeView-navigation">
				<div class="js-homeView-profile">
					<div class="js-homeView-profile-image">
						<img src="../images/profile/user_profile.jpg" alt="user profile image">
					</div>
					<div class="js-homeView-profile-name" style="color: black; margin-top: 10px">
					</div>
				</div>
				<div>
					<a href="#" class="js-homeView-navigation-item" type="request_wallet_plus">Wallet<span>+</span></a>
					<div class="js-homeView-navigation-item-subitem">
						<div>
							<a href="#" class="js-homeView-navigation-btcWallet" type="request_wallet_bitcoin">Bitcoin</a>
						</div>
						<div>
							<a href="#" class="js-homeView-navigation-dgbWallet" type="request_wallet_digibyte">Digibyte</a>
						</div>
					</div>
				</div>
				<div><a href="#" class="js-homeView-navigation-item" type="request_startup_plus">Startup<span>+</span></a></div>
				<div><a href="#" class="js-homeView-navigation-item" type="request_manager_plus">Manager<span>+</span></a></div>
				<div><a href="#" class="js-homeView-navigation-item last-item" type="request_file_plus">File<span>+</span></a></div>
				<div><a href="#" class="js-homeView-navigation-item last-item" type="request_settings">Settings</a></div>
			</div>
			<div class="js-homeView-mainContent">
				<p> Creating some kind of small form bla bla bla </p>
			</div>
		</div>

		<script src='../javascript/loginViewController.js'></script>
	</body>
</html>