<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>window.$ = window.jQuery = require('jquery');</script>
	<!-- <script>
		window.nodeRequire = require;
		delete window.require;
		delete window.exports;
		delete window.module;
	</script> -->
    <link rel="stylesheet" href="../css/main.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="login-background">
		<div class="login_header hidden">
			<h1>Wallet<span>+</span></h1>
		</div>
		
		<div class="js-loginView-form form_section hidden">
			<div class="js-loginView-login" id="js_loginView_login">
				<form>
					<div class="form_input">
						<label for="login_mail">Username: </label>
						<input type="text" id="username" class="js-loginView-login-username">
					</div>
					<div class="form_input">
						<label for="login_password">Password: </label>
						<input type="password" id="password" class="js-loginView-login-password">
					</div>
					<div class="form_button js-loginView-login-submit">
						<button id="login">Login</button>
					</div>
				</form>
				<div class="login_footer">
					<p>Don't have an account: <a href="#" class="js-loginView-new-account" id="js-loginView-form-register"> Create one </a></p>
				</div>
			</div>
			<div class="js-loginView-register" id="js_loginView_register">
				<form>
					<form>
						<div class="form_input">
							<label for="login_mail">Mail: </label>
							<input type="text" class="js-loginView-register-mail">
						</div>
						<div class="form_input">
							<label for="login_password">Password: </label>
							<input type="password" class="js-loginView-register-password">
						</div>
						<div class="form_input">
								<label for="login_password">Password Repeat: </label>
								<input type="password" class="js-loginView-register-repassword">
							</div>
						<div class="form_button js-loginView-register-submit">
							<button>Register</button>
						</div>
					</form>
					<div class="login_footer">
						<p>Have an account: <a href="#" class="js-loginView-go-to-login" id="js-loginView-form-register"> Login </a></p>
					</div>
				</form>
			</div>
		</div>

		<div class="js-homeView-box">
			<div class="js-homeView-navigation">
				<div>
					<a href="#" class="js-homeView-navigation-item" type="request_wallet_plus">Wallet<span>+</span></a>
					<div class="js-homeView-navigation-item-subitem">
						<div>
							<a href="#" class="js-homeView-navigation-btcWallet" type="request_wallet_bitcoin">Bitcoin</a>
						</div>
						<div>
							<a href="#" class="js-homeView-navigation-dgbWallet" type="request_wallet_digibyte">Digibyte</a>
						</div>
					</div>
				</div>
				<div><a href="#" class="js-homeView-navigation-item" type="request_startup_plus">Startup<span>+</span></a></div>
				<div><a href="#" class="js-homeView-navigation-item" type="request_manager_plus">Manager<span>+</span></a></div>
				<div><a href="#" class="js-homeView-navigation-item last-item" type="request_file_plus">File<span>+</span></a></div>
			</div>
			<div class="js-homeView-mainContent">
				
			</div>
		</div>

		<script src='../javascript/loginViewController.js'></script>
		<script src='../javascript/homeViewController.js'></script>
	</body>
</html>